.hexagon {
    user-select: none;
}

$color: #00c855;
.hexagon:hover {
    background-color: rgba(139, 250, 144, 0.2);
    stroke: $color;
    border-radius: 15%;
}



.reposted {
    color: $color;
    fill: $color;
    stroke: $color;
    font-weight: 500;
}
