.timelineActions {
    padding: 20px;
    text-align: end;
}

.engagementCounter {
    padding-left: 7px;
    display: inline;
    font-weight: 500;
    user-select: none;
}

.default {
    color: gray;
}

.location {
    font-weight: bolder;
    margin: auto;
    text-align: left;
}

.post {
    padding-bottom: 10px;
}
