.loginPage {
  text-align: center;
}

.companyName {
  font-size: 60px;
  font-family: Helvetica;
}

.logo{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login {
    padding-top: 200px;
    padding-left: 50px;
    padding-right: 150px;

}

.loginCard {
    padding: 40px;
    width: 35rem;
}

.col {
    column-span: 12;
}

p {
    color: #BBBBBB;
}
