.loginPage {
  text-align: center;
}

.companyName {
  font-size: 60px;
  font-family: Helvetica;
}

.logo{
    padding-top: 200px;
    padding-left: 250px;
}

.login {
    padding-top: 200px;
    padding-left: 50px;
    padding-right: 150px;

}

.loginCard {
    padding: 40px;
    width: 35rem;
}

.col {
    column-span: 12;
}

p {
    color: #BBBBBB;
}
