.cardSiderHead {
    padding-left: 10px;
}

.postBody {
    padding-left: 10px;
}

.postContent {
    margin-left: 65px;
    text-align: initial;
    word-break: normal;
    overflow-wrap: break-word;
}

.postDate {
    padding-left: 5px;
}

.post-profile-pic {
    float: left;
}

.userInfo {
    text-align: initial;
}

.profileName {
    font-weight: bold;
}

.postActions {
    padding-top: 15px;
    user-select: auto;
}

.action {
    text-align: left;
}
