@import '~bootstrap/scss/bootstrap';
@import '~antd/dist/antd.css';

body {
    background-color: #fafafa;
    text-align: center;
    user-select: auto;
}

.inline {
    display: inline;
}

.floatLeft {
    float: left;
}

